:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-title-text-color: #757575;
  --secondary-accent-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--title-text-color);
}
.current {
  color: var(--accent-color);
}
/*========================  components  ==============================*/
body {
  font-family: var(--main-font);
  color: var(--title-text-color);
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-title-text-color);
}
.suptitle {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
/*========================  end components   ==============================*/
/*========================  header  ==============================*/
.logo-link {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-link-accent {
  color: var(--title-text-color);
}
.navigation-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-menu-link:hover,
.navigation-menu-link:focus {
  color: var(--accent-color);
}
.contact-menu-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-menu-item-link:hover,
.contact-menu-item-link:focus {
  color: var(--accent-color);
}
/*========================  end header  ==============================*/
/*========================  foundation  ==============================*/
.foundation {
  background-color: #2f303a;
}
.foundation-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--accent-color);
  letter-spacing: 0.06em;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--secondary-accent-color);
  background: #188ce8;
}
/*======================== end foundation  ==============================*/
/*======================== features  ==============================*/
.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*======================== end features  ==============================*/
/*======================== classes ==============================*/

/*======================== end classes ==============================*/
/*======================== team ==============================*/
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.descriptions {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-title-text-color);
}
/*======================== end team ==============================*/
/*======================== footer ==============================*/
.footer {
  background-color: #2f303a;
}
.logo-link-footer {
  color: var(--secondary-accent-color);
}
.address-menu-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
}
.address-menu-link:hover,
.address-menu-link:focus {
  color: var(--accent-color);
}
/*======================== end footer ==============================*/
/*========================  portfolio  ==============================*/
.portfolio-modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #ffffff;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.portfolio-modal-btn:hover,
.portfolio-modal-btn:focus {
  color: var(--secondary-accent-color);
  background: #188ce8;
}
/*========================  end portfolio  ==============================*/
/*========================  works  ==============================*/
.works-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.works-descriptions {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-title-text-color);
}
/*========================  end  works  ==============================*/
